* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fefefe;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
/* header style start */
header {
  background-color: #2d25a0;
  padding: 40px 0;
}

nav {
  width: 100%;
  display: grid;
  justify-content: center;
}

.nav-container {
  width: 1160px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  padding-left: 36px;
}

.menu ul li:first-child {
  padding-left: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.login-btn {
  width: 123px;
  height: 44px;
  background-color: #e02c6d;
  border: none;
}

.login-btn a,
.gen-btn a {
  text-decoration: none;
}

.fas {
  font-size: 1rem;
  color: #fff;
}

.login-btn span {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #fff;
}

.banner {
  width: 100%;
  display: grid;
  justify-content: center;
}
.banner-container {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.banner-content h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 80px;
  color: #ffffff;
  margin-bottom: 20px;
}

.banner-content .gen-btn {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  border: none;
}

.banner-content span {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #fff;
}

.banner-image img {
  width: 556px;
  height: 438px;
}
/* header style end */

/* players section style start */
.container {
  width: 1050px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 30px;
}

.single-player {
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-bottom: 10px;
}
.player-image img {
  width: 300px;
  height: 256px;
}

.player-info h3 {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 40px;
  color: #18191f;
}

.player-info p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: #6c6c6c;
}
/* players section style end */

/* footer section style start */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 40px;
}
.footer-container {
  width: 484px;
  height: 214px;
  background-color: #fefefe;
}

.footer-image img {
  width: 484px;
  height: 110px;
}

.footer-info ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-info ul li {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.footer-info ul li .fab {
  border-radius: 50%;
  border: 1px solid #969bab;
  padding: 5px;
  color: #0b0d17;
  opacity: 0.5;
  background-color: #969bab;
}
.footer-info p {
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 24px;
  color: #000;
}
/* footer section style end */
